nav {
    display: flex;
    gap: 15px;
    align-items: center;
}

.semana4-link {
    margin-left: auto;
    background-color: #1abc9c;
    color: white;
    padding: 8px 14px;
    border-radius: 6px;
    text-decoration: none;
    font-weight: bold;
}

.semana4-link:hover {
    background-color: #16a085;
}
