{% extends "base.html" %}

{% block title %}Registro{% endblock %}

{% block content %}

<div class="row justify-content-center">
<div class="col-md-5">

<div class="card shadow-lg p-4 border-0">

<h3 class="text-center mb-4">
📝 Registro de Usuario
</h3>

<!-- MENSAJES -->
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <div class="alert alert-warning text-center">
      {{ messages[0] }}
    </div>
  {% endif %}
{% endwith %}

<form method="POST">

<div class="mb-3">
<label class="form-label">Nombre</label>
<input type="text" name="nombre" class="form-control" placeholder="Tu nombre" required>
</div>

<div class="mb-3">
<label class="form-label">Correo</label>
<input type="email" name="email" class="form-control" placeholder="correo@email.com" required>
</div>

<div class="mb-3">
<label class="form-label">Contraseña</label>
<input type="password" name="password" class="form-control" placeholder="********" required>
</div>

<div class="d-grid">
<button type="submit" class="btn btn-success">
Registrarse
</button>
</div>

</form>

<hr>

<div class="text-center">
<a href="{{ url_for('login') }}">
¿Ya tienes cuenta? Inicia sesión
</a>
</div>

</div>
</div>
</div>

{% endblock %}