{% extends "base.html" %}

{% block title %}Editar Libro{% endblock %}

{% block content %}

<h2>Editar Libro</h2>

<form action="/actualizar/{{ libro.id }}" method="POST">
    <div class="mb-3">
        <input type="text" name="titulo" class="form-control"
               value="{{ libro.titulo }}" required>
    </div>

    <div class="mb-3">
        <input type="text" name="autor" class="form-control"
               value="{{ libro.autor }}" required>
    </div>

    <button class="btn btn-success">Actualizar</button>
    <a href="/biblioteca" class="btn btn-secondary">Cancelar</a>
</form>

{% endblock %}