{% extends "base.html" %}

{% block content %}

<h2 class="mb-4">Agregar Nuevo Producto</h2>

<form method="post">
    <div class="mb-3">
        <label class="form-label">Nombre del producto</label>
        <input type="text" name="nombre" class="form-control" placeholder="Ingrese el nombre">
    </div>

    <div class="mb-3">
        <label class="form-label">Precio</label>
        <input type="number" name="precio" class="form-control" placeholder="Ingrese el precio">
    </div>

    <button type="submit" class="btn btn-primary">Guardar Producto</button>
</form>

{% endblock %}